.list-container {
  padding-top: 60px;
}

.list-container .item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}

.list-container__header {
  padding: 10px 0 !important;
}
.list-container__header h1 {
  margin: 0;
}

.list-container a {
  width: 100%;
}

.list-container a * {
  color: rgb(68, 128, 219) !important;
}

.list-container .list button {
  background: none !important;
}
