.code-editor-container {
  display: grid;
  grid-template-rows: 2fr auto;
  height: 100vh;
  overflow: hidden;
}

.code-editor-container__code-render {
  overflow-y: scroll;
}

.code-editor-container__code-editor .react-codemirror2 {
  height: 100%;
}

.code-editor-container a {
  color: inherit;
}

.CodeMirror {
  height: calc(100% - 50px);
}

.code-editor-container__code-editor {
  background-color: rgb(41, 41, 41);
  padding-left: 10px;
  padding-top: 38px;
}

.code-editor__tittle {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  color: grey;
  font-size: 18px;
}

.code-editor__tittle b {
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

.code-editor__window-buttons {
  position: absolute;
  z-index: 1000;
  top: 3px;
  right: 10px;
}

.buttons button {
  border-radius: 5px !important;
  margin-left: 5px !important;
  background: none !important;
  color: white !important;
  opacity: 0.9;
}

.buttons button:hover {
  opacity: 1;
}

.code-editor__control-buttons {
  position: absolute;
  bottom: 7px;
  left: 5px;
  z-index: 1000;
}

.code-editor__control-buttons button {
  padding: 5px 10px !important;
}

.code-editor div {
  min-width: 100px;
}
