.jsx-parser {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 2fr 1fr;
	height: 100%;
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.jsx-parser .panel-header {
	min-height: 60px !important;
	grid-column-start: 1;
	grid-column-end: 3;
}
