#Panel {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
  grid-row-gap: 20px;
  height: 100%;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

#Panel .panel-header {
  display: flex;
  align-items: center;
  min-height: 60px !important;
  grid-column-start: 1;
  grid-column-end: 3;
}

#Panel .panel-header h1 {
  margin: 0;
}

#Panel .jsx-parser {
  justify-self: center;
}
