.code-editor-container {
	display: grid;
	grid-template-rows: 2fr 1fr;
	height: 100vh;
	grid-gap: 10px;
}

.code-editor-container__code-render {
	max-height: calc(100vh / 3 * 2);
	overflow-y: scroll;
}

.code-editor-container__code-editor {
	background-color: rgb(41, 41, 41);
}

.code-editor-container__code-editor button {
	border-radius: 0 !important;
	position: fixed;
	z-index: 10000;
	bottom: 0;
}

.code-editor div {
	min-width: 100px;
}
