.configuration-block__tab {
  max-height: 500px;
  overflow-y: auto;
  margin: 0 !important;
}

.configuration-block__tab::-webkit-scrollbar {
  width: 10px !important;
}

.configuration-block__tab::-webkit-scrollbar-track {
}

.configuration-block__tab::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}
