.app {
  background: url('./phone.png') no-repeat;
  background-size: 100% 100%;
  width: 290px;
  height: 550px;
  padding: 62px 18px;
  justify-self: center;
}

.popup-connected-element::before {
  display: none !important;
}

.app__page {
  background: white;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app__page.none {
  display: none !important;
}

.app__page__header,
.app__page__footer {
  padding: 5px !important;
  min-height: 50px;
  height: auto;
}

.app__page__body {
  height: 1fr !important;
  padding: 5px !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.app .selectable-image-container {
  padding: 0 !important;
  margin: 0 !important;
}

.app .selectable-image-container:before {
  background: none !important;
}

.app .selectable-image-container:after {
  border-color: #2185d0 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) !important;
}

.app .currentElement > * {
  outline: 3px solid #2185d0 !important;
  outline-offset: 2px;
}

.app .progress {
  margin: 0 !important;
}
