.app {
  background: url('./phone.png') no-repeat;
  background-size: 100% 100%;
  width: 290px;
  height: 550px;
  padding: 62px 18px;
  justify-self: center;
}

.app__page {
  background: white;
  width: 100%;
  height: 100%;
  position: relative;
}

.app__page__header,
.app__page__footer {
  height: 50px !important;
  padding: 5px !important;
}

.app__page__body {
  height: calc(100% - 100px) !important;
  padding: 5px !important;
}

.app .currentElement > * {
  outline: 3px solid #2185d0 !important;
  outline-offset: 3px;
}
