.page-wrapper {
  display: grid;
  grid-template-columns: auto;
}

.page-wrapper nav {
  background: rgb(24, 24, 24);
  height: 100vh;
}

.page-wrapper header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: rgb(68, 128, 219);
  z-index: 100;
}

.page-wrapper header .container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.page-wrapper header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 40px;
  border-radius: 5px;
  color: white;
}

.page-wrapper header .container .user {
  color: white;
  margin: 0;
}
